@font-face {
    font-family: 'ScriptS';
    src: url('ScriptS.ttf');
}
body{
    font-family: "Calibri Light";
    font-size: 16pt;
}
.palindrom {
    margin:auto;
    width: 300px;
}
.sentence{
    font-size: 32pt;
    width: 90%;
    margin: auto;
    text-align: center;
    font-family: ScriptS;
    font-weight: 500;
}
.containerr {
    margin: auto;
    width: 1280px;
    padding: 20px;
    background-color: #FFFACD;
    box-shadow: 0 0 15px #F5DEB3;
}
.inf {
    width: 1024px;
    margin: auto;
    margin-top: 20px;
    background-color: #FFF5EE;
    box-shadow: 0 0 15px #F5DEB3;
    margin-bottom: 50px;
}
.text{
    width: 750px;
    height: 350px;
    padding-left:50px;
    padding-top:100px;
    float:left;
}
.mi {
    height: 350px;
    display: inline-block;
    padding-top: 20px;
    padding-bottom: 60px;
}
.questions {
    width: 700px;
    float:right;
    margin-top: 40px;
    padding-left: 100px;
    height: 800px;
}
.kon {
    width: 300px;
}
#inp, #answer {
    margin-top: 20px;
}
.lync {
    visibility: hidden;
}

.mi:hover {
    padding-top: 0px;
    padding-bottom: 80px;
}